<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Main Page</title>
</head>
<body>
    <nav>
        <a href="/store/new">Don't See Something You Like? Request HERE!!!</a>
      </nav>
      <h1>Jimmy's Sneaker Site</h1>
      <ul>
        <% for (let i = 0; i < allSneakers.length; i++) { %>
        <li>
            <a href="/store/<%= allSneakers[i].id %>"><img src='<%=allSneakers[i].img%>'></a><br><%= allSneakers[i].brand %><br><%= allSneakers[i].name %><br><%= allSneakers[i].color %><br><%= allSneakers[i].price %><br><%= allSneakers[i].size %>
          <form action="/store/<%= allSneakers[i].id %>?_method=DELETE" method="POST">
            <input type="submit" value="Remove"/>
          </form>
          <button><a href="/store/<%= allSneakers[i].id %>/buy">Purchase</a></button>
        </li>
        <% } %>
      </ul>
</body>
</html>